<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ './images/profile 2.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Nice to meet you!</h2>
      <p class="subtitle subtitle--light">I’m a product designer and a aspiring frontend developer with over 3 years of experience under my belt.
      </p>

      <!-- <p>I have worked with the biggest oilfield service company</p> -->
      <p>My skills include product design, prototyping, mobile design,
        design systems, front-end development and junior designers mentorship. I’m interested in clean aesthetics, minimalism and simplistic UX solutions.</p>
      <p>I’d love to learn about your company and see how I can help, feel free to send me an email!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>